{% extends 'base.html' %}
{% block content %}
{% load static %}

  <!-- 본문 -->
  <div>
    <h1></h1>
  </div>

          <!--다운추가: 여러 png 이미지 요소들 추가-->
          <div>
            <i1>
              <img class = "map"
              src = "{% static 'gyeongsangdo/map.png' %}" 
              alt = "경상도"
              title = "경상도"
              style =
                "position: absolute;
                top: 200px;
                left: 300px;
                width: 400px;">
            </i1>

            <i1>
              <img class = "content_title"
              src = "{% static 'gyeongsangdo/content_title.png' %}" 
              alt = "경상도"
              title = "경상도"
              style =
                "position: absolute;
                top: 200px;
                left: 800px;
                width: 400px;">
            </i1>

            <i1>
              <img class = "content"
              src = "{% static 'gyeongsangdo/content.png' %}" 
              alt = "경상도"
              title = "경상도"
              style =
                "position: absolute;
                top: 280px;
                left: 800px;
                width: 400px;">
            </i1>

            <i1>
              <img class = "other"
              src = "{% static 'gyeongsangdo/other.png' %}" 
              alt = "경상도"
              title = "경상도"
              style =
                "position: absolute;
                top: 480px;
                left: 800px;
                width: 400px;">
            </i1>
  
  
    <!-- /본문 -->
{% endblock %}