{% extends 'base.html' %}
{% block content %}
  <!-- 본문 -->
  <div>
    <h1>사투리 사전</h1>
  </div>

  <div class="container-fluid" style="padding-left:0;">
    <form class="d-flex col-lg-10" role="search" method="GET" action="{% url 'dictresult:dictresult' %}">
      {% csrf_token %}
      <input class="form-control mx-2" type="search" placeholder="단어 검색" aria-label="Search" name="ticker">
      <button class="btn btn-outline" type="submit">Search</button>
    </form>
  </div>

      <!--다운추가: 홈화면 여러 png 이미지 요소들 추가-->
      <div>
        <i1>
          <img class = "adv"
          src = "../static/dictionary/adv.png" 
          alt = "185개 사투리 콘텐츠 보유"
          title = "185개의 사투리 콘텐츠 보유"
          style =
            "position: absolute;
            top: 250px;
            left: 400px;
            width: 600px;">
        </i1>
   
  
    <!-- /본문 -->
{% endblock %}