{% extends "base.html" %}
{% block content %}

{% load socialaccount %}
{% load static %}
<style>
    #page-wrapper {
      padding-left: 250px;
    }
    
    #sidebar-wrapper {
      position: fixed;
      width: 160px;
      height: 100%;
      margin-left: -250px;
      background: #e5e8f7;
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    #page-content-wrapper {
      width: 100%;
      padding: 20px;
      margin-left: -100px;
    }
    
    .sidebar-nav {
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .sidebar-nav li {
      text-indent: 1.5em;
      line-height: 2.8em;
    }
    
    .sidebar-nav li a {
      display: block;
      text-decoration: none;
      color: black;
    }
    
    .sidebar-nav li a:hover {
      color: gray;
      background: rgba(255, 255, 255, 0.2);
    }
    
    .sidebar-nav > .sidebar-brand {
      font-size: 1.3em;
      line-height: 3em;
    }
  
</style>

<div id="page-wrapper">
    <!-- side bar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav accordionSidebar">
        <li><a href="{% url 'accounts:mypage' %}">정보 수정</a></li>
        <li><a href="{% url 'accounts:study' %}">최근 학습</a></li>
        <li><a href="{% url 'accounts:store' %}">보관함</a></li>
      </ul>
    </div>
    <!-- /side bar -->
  
    <!-- body -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="container mb-2 pb-2" style="padding-bottom:100px;">
            <h2>회원 정보 수정</h2>
        </div>
      </div>
    </div>
    <!-- /body -->
    
</div>
{% endblock %}