/* Override bootstrap.css */

/*다운추가*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.btn-outline-primary {
    border:#8E67FA solid;
    border-radius: 34px;
    color:#8E67FA;
    /*다운추가*/
    font-family: 'GmarketSansMedium';
}
.btn-outline-primary:hover {
    border:#8E67FA solid;
    background-color: #8E67FA;
    color:white;
}

.btn-outline {
    border:#8E67FA solid;
    color:black
}
.btn-outline:hover {
    border:#8E67FA solid;
    background-color: #8E67FA;
    color:white;
}

.region {
    top: 480px;
    left: 1110px;
    width: 100px;
    height: 28px;
    color: var(--unnamed-color-8e67fa);
    text-align: left;
    font: normal normal bold 28px/38px Gmarket Sans TTF;
    letter-spacing: 0px;
    color: #8E67FA;
    text-shadow: inset 3px 3px 8px #00000029;
    opacity: 1;
}

.search-bar {
    width: 80%;
    height: 2.6em;
    border:#8E67FA solid;
    border-radius: 34px;
    color:black
}

#page-wrapper {
    padding-left: 150px;
}

.navbar-light .navbar-nav .nav-link {
    color: #8E67FA;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
  
#sidebar-wrapper {
    position: fixed;
    width: 190px;
    height: 100%;
    margin-left: -150px;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: solid #00000029;
    border-top: solid #00000029;
    margin-top:90px;
}
  
#page-content-wrapper {
    width: 100%;
    padding: 20px;
    margin-left: -100px;
}
  
.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
}
  
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}
  
.sidebar-nav li a:hover {
    color: white;
    background: #8E67FA;
}

.side-line {
    width: 160px; 
    border-top: solid #707070;
}

.main-context {
    padding-left:240px;
    padding-top:20px;
    margin-top: 70px;
}

.show-side a{
    font-size:5px;
}

.list-group :hover{
    background-color: white;
    color: black;
}

.toggle_bookmark {
    border:#8E67FA solid;
    color:#8E67FA;
}

.toggle_bookmark:hover {
    border:#8E67FA solid;
    background-color: #8E67FA;
    color:white;
}

.subhead {
    top: 337px;
    left: 418px;
    width: 499px;
    height: 66px;
    color: var(--unnamed-color-8e67fa);
    text-align: center;
    /*font: normal normal normal 57px/71px Jalnan;*/
    letter-spacing: 0px;
    color: #8E67FA;
    text-shadow: inset 0px 5px 6px #00000029;
    opacity: 1;
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
}

.lconhead {
    grid-area: 1 / 1 / 2 / 2;
}

.rconhead {
    grid-area: 1 / 2 / 2 / 4;
}

.item1 {
    grid-area: 2 / 2 / 3 / 3;
}

.item2 {
    grid-area: 2 / 3 / 3 / 4;
}

.item3 {
    grid-area: 3 / 2 / 4 / 3;
}

.item4 {
    grid-area: 3 / 3 / 4 / 4;
}