{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'icon.png' %}"> <!--다운수정-->
    <link rel="stylesheet" href="{% static 'font.css' %}"> <!--다운추가-->
    <title>블루베리스무디 - 사투리 학습 웹사이트</title>

    <!--다운추가-->
    <style>
        h1 {
            font-family: 'GmarketSansBold';
            color: #8E67FA;
        }
        h4 {
            font-family: 'GmarketSansBold';
            color: #8E67FA;
        }
    
        
    </style>
</head>
<body>

<!-- navigation bar -->
{% include "navbar.html" %}

<!-- side bar -->
{% include "sidebar.html" %}

<div class="main-context">
    <!-- contents Start -->
    {% block content %}
    {% endblock %}
    <!-- contents End -->
</div>

<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'script.js' %}"></script>
</body>
</html>