{% extends 'base.html' %}
{% block content %}
  <!-- 본문 -->
  <div class="my-3" style="text-align:center;">
    <h1>사투리 학습 서비스</h1>
    <h1>블루베리 스무디</h1>
  </div>

  <!--추후 dropdown 수정-->
  <div class="my-3">
    <h3> 
      <a class="btn btn-outline-primary" href="{% url "voice:voice_map"%}">지역별</a> 
      <a class="btn btn-outline-primary" href="{% url "voice:voice_map"%}">상황별</a>
      <a class="btn btn-outline-primary" href="{% url "voice:voice_map"%}">화자별</a> 
    </h3>
  </div>

  <nav class="navbar bg-light">
    <div class="container-fluid">
      <form class="d-flex" role="search" method="GET" action="{% url 'search:contents' %}">
        {% csrf_token %}
        <input class="form-control mx-2" type="search" placeholder="콘텐츠 검색" aria-label="Search" name="ticker">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
  <div class="my-3 btn col-4">
    
    <h4 class="my-1">인기 콘텐츠 Top5</h4>
    
    <div class="my-3 btn col-12" style="border:#8E67FA solid;">
      <div style="font-size: 20px;">
        <ul style="list-style:none; padding-left:0px; margin-top:16px;">
            {% for voice in voice_list %}
              <li><a class="btn btn-outline col-10 my-2" href="{% url 'voice:voice_detail' pk=voice.id %}">{{voice.title}}</a></li>
            {% endfor %}
        </ul>
      </div>
    </div>
  
  </div>
  <!-- /본문 -->
{% endblock %}