<!--sidebar-->
{% load static %}
<div id="page-wrapper" style="padding-top: 5px;">

  <div class="collapse show" id="sidebar-wrapper">

    <ul class="sidebar-nav accordionSidebar">
      <li><a href="#">콘텐츠 검색</a></li>
      <li><a href="#">사투리 사전</a></li>
      <li><a href="#">나만의 연습실</a></li>

      <li class="side-line my-3 mx-3"></li>

      <li><a href="{% url "accounts:store" %}">보관함</a></li>
      <li><a href="{% url "accounts:study" %}">최근 학습</a></li>

      <li class="side-line my-3 mx-3"></li>

      <li><a href="#">지역별</a></li>
      <li><a href="#">상황별</a></li>
      <li><a href="#">화자별</a></li>

    </ul>

  
  </div>
</div>

